.background {
  background-color: #888787;
  border          : 1px solid #ececec;
  box-shadow      : 2px 2px 8px 2px #f7f7f7;
  display         : flex;
  width           : 32%;
}

.btn {
  margin: 2%;
  margin-left: 10%;
}